*{
    margin:0;
    padding:0;
    box-sizing: border box;
}
.card
{
    box-shadow: 5px 5px 10px gray;
    padding: 20px;
    border: radius 20%;
    width: 30% ;
    margin-bottom: 30px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}
.w20
{width: 20%;}
.w75{
    width: 75%;
}
.w40{
    width: 40%;
}
.gap{
    gap: 200px;
}
.align-center
{
    align-items: center;
}
.container {
    max-width: 1000px;
    margin: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.hero{
    background-color: violet;
    margin-bottom: 100px;
    height: 300px;
}
.w100
{width: 100%;
object-fit: cover;
height: 300px;
margin-bottom: 50px;
}
.header
{
    margin-bottom: 20px;
    padding: 16px 64px;
}
.btn{
    width: 150px;
    padding: 10px;
    margin: 10px;
}
header img {
    width: 50px;
}